.borderBox{
    width:70%;
    max-width: 600px;
    border: solid 2px rgba(107, 92, 92, 0.377);
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 2vh;

    padding: 15px;
    height: 90vh;;
    vertical-align: middle;

}

.field{
    font-size: 1.25em;
}

.column, .value{
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    width: 40%;
}

.column{
    font-weight: bold;
    text-align: right;
}

.value{
    text-align: left;
    width: 50%;

}

@media screen and (max-width: 800px) {
    .borderBox{
        width: 90%;
    }
    
}